.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}